body {
  margin: 0;
  font-family: 'Raleway', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--teal);
  font-size: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  vertical-align: baseline;
  box-sizing: border-box;
  background: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --blue: #009CDE;
  --orange: #FF7F0D;
  --purple: #9574BE;
  --gray: #D3D3D3;
  --teal: #080803;
  --lightBackground: #1A1A13;
}

.wrapper {
  height: 100vh;
  background-color: var(--teal);
}

.style-html {
  color: var(--blue);
  font-weight: bold;
  @media (min-height: 800px) {
    font-size: 2.25rem;
  }
}

button {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.orange {
  background-color: var(--orange);
  box-shadow: 1px 2px 1px 1px var(--blue);
}

.orange:hover {
  background-color: var(--teal);
  color: orange;
  cursor: pointer;
}

.blue {
  background-color: var(--blue);
  box-shadow: 1px 2px 1px 1px var(--purple);
}

.blue:hover {
  background-color: var(--teal);
  color: var(--gray);
  cursor: pointer;
}

/* scroll bar style  */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 50px;
}
